# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jing-puda\建筑工程施工CSS网站-jianzhu063\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
